<div id="fade" class="flexbox-container">
	<div><h3><img ng-src="app/img/holidaze.png" class="logomain" alt="Holiday Party"><br></h3></div>
	<div class="text"><h3>Choose some treats and tasty drinks for your next holiday soiree!</h3></div>
</div>
<!-- 
<div id="fade" class="flexbox-container">
	<div><h3>Treats</h3></div>
	<div><h3><img class="img-responsive" ng-src="{{recipe.image}}"><br>
<br>
<h3>{{item.name}} {{item.type}}</h3></div>
</div>

<div id="fade" class="flexbox-container">
	<div><h3>Drinks</h3></div>
	<div><h3>Treats</h3></div>
</div> -->