body {
	background-image: url("http://www.wallpaperel.com/wp-content/uploads/2015/11/Christmas-Wallpaper-Beautiful-F16.jpg");
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	padding-top: 0px;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
	color: black;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.logomain {
	height: 450px;
}

.container {
		margin: 0 auto;

}

.text {
	margin-top: 15%;
	color: white;
	text-shadow: 2px 2px #000;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}

.navbar {
	background-color: #99ccff;
}

.form {
	width: 500px;
	background-color: white;
}

.form-container {
	margin: 0 auto;
	width: 350px;
}

#fade {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }